/*
-----------------------------------------------
HOUSTON LANDING STYLE GUIDE
-----------------------------------------------
*/

:root {
  /** COLORS **/
  --brown-300: #c2966c;

  --green-500: #a29000;
  --green-600: #514800;

  --orange-500: #ff8b00;
  --orange-600: #bc4c00;

  --pink-500: #ad005b;
  --pink-600: #410023;

  --yellow-500: #ffc709;
  --yellow-600: #d39c00;

  --neutral-0: #ffffff; /* HL  */
  --neutral-100: #faf6ed; /* HL  */
  --neutral-200: #f5efe4; /* HL  */
  --neutral-300: #dbd4d2;
  --neutral-400: #cbc2be;
  --neutral-500: #b7b7b7; /* HL  */
  --neutral-600: #9f9f9f; /* HL  */
  --neutral-700: #6a6a6a; /* HL  */
  --neutral-800: #443e4c;
  --neutral-900: #393646;
  --neutral-1000: #202020;
  --neutral-1100: #000000; /* HL */


  /** BASE STYLES **/
  --base-font-size: 18px;
  --base-line-height: 1.5;
  --base-grid: 8px;
  --base-border-radius: calc(var(--base-grid) * 5);
  --base-border-color: var(--neutral-0);
  --base-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --base-scale: scale(1.05);


  /** TYPOGRAPHY **/
  --primary-typeface: "Source Serif 4", "Georgia", serif;
  --secondary-typeface: "Publish Gothic Expanded", sans-serif;

  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-demibold: 600;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-extralight: 200;


   /** SVG TO DATA URI **/
  --arrow-right-small-white: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7849 6.84553L11.1312 0.214324C10.8445 -0.0714412 10.3788 -0.0714412 10.0921 0.214324C9.80537 0.500089 9.80537 0.964151 10.0921 1.24992L15.4911 6.6306H0.735219C0.328398 6.6306 0 6.95789 0 7.36333C0 7.76877 0.328398 8.09606 0.735219 8.09606H15.4911L10.0921 13.4767C9.80537 13.7625 9.80537 14.2266 10.0921 14.5123C10.2367 14.6564 10.423 14.7273 10.6117 14.7273C10.8004 14.7273 10.9891 14.6564 11.1312 14.5123L17.7849 7.88113C18.0717 7.59536 18.0717 7.1313 17.7849 6.84553Z' fill='white'/%3E%3C/svg%3E%0A");
  --icon-plus-sign-white: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='15.25' width='3' height='26' rx='1.5' transform='rotate(-90 0 15.25)' fill='white'/%3E%3Crect x='11.5' y='0.75' width='3' height='26' rx='1.5' fill='white'/%3E%3C/svg%3E");

  /** STRUCTURAL DIMENSIONS **/
  --max-width: 1200px;
  --header-height: 64px;
  --icon-dimension: 70px;
  --image-left-right-offset: calc(var(--base-grid) * 4);

  @media screen and (min-width: 1024px) {
    --header-height: 80px;
  }
  @media screen and (min-width: 1200px) {
    --image-left-right-offset: calc(var(--base-grid) * 5.25);
  }

}

/*BREAKPOINTS REFERENCE*/
/*@media screen and (min-width: 768px) {}
@media screen and (min-width: 820px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1440px) {}*/

/*@media screen and (min-width: 1200px) {
  :root {
    --base-font-size: 16px;
  }
}*/